[D-BUS Service]
Name=io.github.kymotsujason.LogitechMouseBattery
Exec=/bin/false
User=logitech-mouse-battery
SystemdService=logitech-mouse-battery.service
